<div class="container p-5 d-flex justify-content-center">
  <div class="landing-photos">
    <div class="photo one"></div>
    <div class="photo 2"></div>
    <div class="photo 3"></div>
    <div class="photo 4"></div>
  </div>
</div>

<hr>

<div class="container p-5 d-flex justify-content-center">
  <div class="get-started">
    <p>get started</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46" fill="none" class="arrow">
    <path d="M24.8207 29.1334L29.9773 23.2711C30.0535 23.1963 30.0916 23.0982 30.0916 23.0001M24.8207 16.8667L29.9773 22.729C30.0535 22.8039 30.0916 22.902 30.0916 23.0001M30.0916 23.0001L15.7166 23.0001M23 38.3333C14.5316 38.3333 7.66667 31.4684 7.66667 23C7.66667 14.5316 14.5316 7.66666 23 7.66666C31.4684 7.66666 38.3333 14.5316 38.3333 23C38.3333 31.4684 31.4684 38.3333 23 38.3333Z" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
    </svg>
  </div>
</div>

<hr>

<%# POSTS INDEX %>
<div class="container zipcode">
  <%# input from user to get user.zipcode to search with mapbox %>
  <%# LOOK AT SEARCH LECTURE %>
  <p id="zipcode-placeholder">start searching with your zipcode</p>
</div>

<hr>

<div class="container role-toggle">
  <%# buttons to switch showing all asker posts on map or show all helper posts on map based on current location%>
  <%# if displaying asker put orange class else put orange class on helper div depends on which view helper or asker %>
  <div id="asker" class="orange">
    <p id="asker-placeholder">asking for help</p>
  </div>
  <div id="helper" class="white">
    <p id="helper-placeholder">providing help</p>
  </div>
</div>

<hr>

<div class="container navbar">
  <%# navbar with 4 icons with links to: profile dashboard, posts index, chat index, system settings %>
  <%# in the middle 1 big round button to add new post %>
  <div class="orange-bar">
    <div class="green-circle">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none"><path d="M18 6L18 30M30 18L6 18" stroke="#F8F7FD" stroke-width="1.5" stroke-linecap="round"/></svg>
    </div>
  </div>
</div>

<hr>

<%# POSTS SHOW %>

<div class="btn-back">
  <%# button link to posts index %>
</div>

<hr>

<div class="pfp show">
  <%# post.user.id profile picture %>
</div>

<hr>

<div class="container show-intro">
  <%# h1 greeting, h2 request, h3 location %>
</div>

<hr>

<div class="container">
  <div class="post-user-info">
  <%# h4 "post.user.name's struggle", p "post.user.description" %>
  </div>
  <div class="btn-cta">
    <%# "Help out!" %>
  </div>
</div>

<hr>

<div class="container images">
  <div class="images-header">
    <%# h4 "attached images", hr %>
  </div>
    <%# IF @user.attached-image.attached? %>
      <%# post.images.forEach do |image| %>
        <div class="attached-image">
          <%# cl_image_tag @user.attached-image.key %>
        </div>
    <%# ELSE %>
      <%# "post.user.name chose not to attach any images" %>
    <%# END %>
</div>

<hr>

<%# POSTS CREATE %>

<div class="container create-post">

</div>
