.triangle-btn {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #05030C;
  position: relative;
  top: 50px;
  left: 50px;
}

.get-started {
  display: flex;
  justify-content: center;
  width: 247px;
  height: 79px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #D5795D;
  p {
    position: relative;
    top: 22px;
    color: #FFFF;
    font-size: 25px;
    font-weight: 500;
  }
  .arrow {
    position: relative;
    top: 18px;
    left: 12px;
    width: 46px;
    height: 46px;
  }
}
