// CHATROOM SHOW
.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  .chat-top {
    display: flex;
    justify-content: space-between;
    .chat-top-right{
      align-self: center;
      a {
        text-decoration: none;
        color: grey;
        margin-right: 10px;
      }
    }
  }
  h1 {
    margin-bottom: 0;
    padding: 1rem;
  }
  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }
  #new_message {
    .form-group {
      margin-bottom: 0;
    }
    .btn {
      background-color: #D5795D;
      border-radius: 0px 15px 15px 0px;
      border-color: #D5795D;
    }
  }
}

.message_content {
  .form-control {
    border-radius: 20px 0px 0px 20px;
    background-color: #ffffff;
  }
}

// CHATROOM INDEX
.chat-all-img {
  img {
    max-height: 70px;
    max-width: 70px;
    border-radius: 50%;
    margin-right: 8px;
  }
}

.your-chats {
  display: flex;
  justify-content: flex-start;
  margin: 25px 0px 0px 15px;
}

.container-chatroom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  a {
    align-self: center;
  }
  .chat-link {
    display: flex;
    padding: 15px;
  }
  .chat-preview {
    p {
      font-size: 14px;
      margin: 0;
    }
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 22px;
    }
  }
}
