.black {
  width: 146px;
  height: 100px;
  border-radius: 20px;
  background: #05030C;
  position: absolute;
  left: 140px;
  bottom: 515px;
}

.purple {
  width: 123px;
  height: 154px;
  border-radius: 20px;
  background: #C3B6EC;
  position: absolute;
  left: 250px;
  top: 330px;
}

.orange {
  width: 122px;
  height: 100px;
  border-radius: 20px;
  background: #D5795D;
  position: absolute;
  top: 320px;
  left: 105px;
}

.green {
  width: 180px;
  height: 129px;
  border-radius: 20px;
  background: #2CAA49;
  position: absolute;
  top: 465px;
  left: 40px;
}
