.container.zipcode {
  width: 311px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #F8F7FD;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.container.role-toggle {
  display: flex;
  width: 327px;
  height: 32px;
  padding: 2px;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  .orange{
    display: flex;
    padding: 8px 37.5px 8px 39px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #D5795D;
  }
  .white{
    display: flex;
    padding: 8px 39.5px 8px 40px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #F8F7FD;
  }
}

.container.navbar {
  width: fit-content;
  height: fit-content;
  flex-shrink: 0;
  position: relative;
}

.container.create-post {
  width: 340px;
  height: 528px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #C3B6EC;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  .form {
    padding-top: 25px;
  }
  h1 {
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  #post_title {
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
  }
  #post_description {
    border-radius: 20px;
    padding: 10px;
    height: 120px;
    margin-top: 15px;
  }
  #post_category {
    border-radius: 20px;
    padding: 10px;
    margin-top: 15px;
  }
  #post_photos {
    border-radius: 20px;
    padding: 10px;
  }
}

.container.role-selection {
  width: 340px;
  height: 528px;
  flex-shrink: 0;
  margin-top: 22px;
  p {
    font-weight: bold;
  }
  span {
    display: block;
    input {
      margin: 0 10px;
    }
  }
  span:nth-child(odd) {
    border-radius: 20px;
    background: #D2C4FF;
    padding: 10px;
    margin-bottom: 10px;
  }
  span:nth-child(even) {
    border-radius: 20px;
    background: #94D2FF;
    padding: 10px;
    margin-bottom: 40px;
  }
}
