.container.zipcode {
  width: 311px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #F8F7FD;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 10px;
  z-index: 999;
  #zipcode-placeholder {
    font-size: 17px;
    text-align: left;
  }
}

.container.role-toggle {
  display: flex;
  width: 327px;
  height: 40px;
  padding: 2px;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  position: absolute;
  top: 75px;
  .orange-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #D2C4FF;
  }
  .white-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #94D2FF;
  }
  #helper-placeholder {
    font-size: 15px;
    color: #05030c;
  }
  #asker-placeholder {
    font-size: 15px;
    color: #05030c;
  }
}

.container.navbar {
  width: fit-content;
  height: fit-content;
  bottom: 10px;
  z-index: 999;
  margin-bottom: auto;
}

.container.create-post {
  width: 340px;
  padding-bottom: 20px;
  min-height: 528px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #C3B6EC;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  .form-label {
    margin-left: 15px;
  }
  .form {
    padding-top: 25px;
  }
  h1 {
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  #post_title {
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
  }
  #post_description {
    border-radius: 20px;
    padding: 10px;
    height: 120px;
    margin-top: 15px;
  }
  #post_category {
    border-radius: 20px;
    padding: 10px;
  }
  #post_photos {
    border-radius: 20px;
    padding: 10px;
  }
}

.container.role-selection {
  width: 340px;
  height: 325px;
  flex-shrink: 0;
  margin-top: 22px;
  p {
    font-weight: bold;
  }
  span {
    display: block;
    input {
      margin: 0 10px;
    }
  }
  span:nth-child(odd) {
    border-radius: 20px;
    background: #D2C4FF;
    padding: 10px;
    margin-bottom: 10px;
  }
  span:nth-child(even) {
    border-radius: 20px;
    background: #94D2FF;
    padding: 10px;
    margin-bottom: 40px;
  }
}

.container.show{
  background: #C3B6EC;
  padding: 15px;
  height: 100vh;
  .greeting-and-info {
    margin-top: 56px;
  }
  .show-intro {
    width: 310px;
    height: 300px;
    top: 6px;
    left: 65px;
    border: 5px black;
    box-shadow: 15px 0px 10px -10px rgba(0, 0, 0, 0.51);
    padding-top: 8px;
    position: relative;
    flex-shrink: 0;
    border-radius: 20px 0px 0px 0px;
    background: linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), #F8F7FD;
    h1, h2, h3 {
      color: #000;
      max-width: 219px;
    }
    .greeting {
      width: fit-content;
      margin: 15px 0px 0px 90px;
      h1 {
        font-size: 28px;
        font-weight: 700;
      }
      p {
        position: absolute;
        right: 247px;
        top: 175px;
        width: 113px;
        color: black;
    }
    }
    .show-info{
      width: 248px;
      margin-left: 90px;
    }
    h2 {
      font-size: 16px;
      line-height: normal;
      font-weight: 400;
    }
    h3 {
      font-size: 16px;
      line-height: 22px;
    }
}

.container.user-info{
  width: 314px;
  height: 239px;
  position: relative;
  right: 10px;
  bottom: 59px;
  flex-shrink: 0;
  padding: 20px;
  border: 5px black;
  box-shadow: 10px -5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), #F8F7FD;
  .post-user-info{
    padding: 5px;
    margin-top: 5px;
    h4 {
      font-size: 18px;
    }
  }
}

.h4-attached{
  margin-top: -20px;
  font-size: 20px;
}
.container-usersshow {
  margin: 10px;

  .usersshow-photo-review {
    display: flex;
    justify-content: space-between;

    .usersshow-photo-left {
      align-items: left;

      .photo {
        width: 150px;
        height: 150px;
        border-radius: 5px;
      }
    }
  }

  .usersshow-greeting {
    width: fit-content;

    h1 {
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 20px;
      line-height: 1;
      margin-top: 30px;
    }

    h2 {
      font-size: 25px;
      font-weight: 600;
    }
  }

  h2 {
    margin-top: 20px;
  }

  .review-container {

    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;

    .review-user-rating {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: left;

      .review-user-name {
        font-weight: bold;
      }

      .review-rating {
        font-size: 14px;
        width: 110px;
      }
    }

    .review-comment {
      margin-left: 20px;
    }
  }
}
.container-dashboard {
  .dashboard-banner {
    background-color: $purple;
    padding-bottom: 15px;
    border-radius: 0px 0px 20px 20px;
  }
  .dashboard-photo-review {
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .dashboard-photo-left {
      align-items: left;
      .photo {
        width: 150px;
        height: 150px;
        border-radius: 20px;
      }
    }
    .dashboard-review-right {
      text-align: right;
      h2 {
        font-size: 25px;
        font-weight: 600;
        color: white;
      }
      h3 {
        font-size: 15px;
        font-weight: 500;
        color: white;
      }

    }
  }
  .dashboard-greeting {
    padding:10px;
    width: fit-content;
    h1 {
      font-size: 35px;
      font-weight: 700;
      line-height: 0.3;
      margin-top: 15px;
      color: white;
    }
    h2 {
      font-size: 25px;
      font-weight: 600;
    }
  }
  .dashboard-about-me {
    h2 {
      margin-top: 5px;
      font-size: 30px;
      font-weight: 600;
    }
  }

  .dashboard-posts{
    h2 {
      margin-top: 10px;
      font-size: 30px;
      font-weight: 600;
    }
    h3{

      margin-left: -30px;
    }
  }

  .dashboard-review {
    h2 {
      margin-top: 20px;
      font-size: 30px;
      font-weight: 600;
    }
  }
  .review-text-btn {
    text-decoration: none !important;
    display: flex;
    justify-content: space-between;
    .review-text {
      width: 300px;
      height: 100px;
      border-radius: 5px;

    }
  }

}
}

.container-review {
  margin-top:50px;
  padding-left:20px;
  padding-right:20px;
  .triangle-btn {
    left:0px;
  }
}
