.container.zipcode {
  width: 311px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #F8F7FD;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 10px;
  z-index: 999;
  #zipcode-placeholder {
    font-size: 17px;
    text-align: left;
  }
}

.container.role-toggle {
  display: flex;
  width: 327px;
  height: 40px;
  padding: 2px;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  position: absolute;
  top: 75px;
  .orange-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #D2C4FF;
  }
  .white-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #94D2FF;
  }
  #helper-placeholder {
    font-size: 15px;
    color: grey;
  }
  #asker-placeholder {
    font-size: 15px;
  }
}

.container.navbar {
  width: fit-content;
  height: fit-content;
  flex-shrink: 0;
  position: relative;
  bottom: 10px;
  position: absolute;
  z-index: 999;
  margin-bottom: auto;
}

.container.create-post {
  width: 340px;
  padding-bottom: 20px;
  min-height: 528px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #C3B6EC;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  .form-label {
    margin-left: 15px;
  }
  .form {
    padding-top: 25px;
  }
  h1 {
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  #post_title {
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
  }
  #post_description {
    border-radius: 20px;
    padding: 10px;
    height: 120px;
    margin-top: 15px;
  }
  #post_category {
    border-radius: 20px;
    padding: 10px;
  }
  #post_photos {
    border-radius: 20px;
    padding: 10px;
  }
}

.container.role-selection {
  width: 340px;
  height: 325px;
  flex-shrink: 0;
  margin-top: 22px;
  p {
    font-weight: bold;
  }
  span {
    display: block;
    input {
      margin: 0 10px;
    }
  }
  span:nth-child(odd) {
    border-radius: 20px;
    background: #D2C4FF;
    padding: 10px;
    margin-bottom: 10px;
  }
  span:nth-child(even) {
    border-radius: 20px;
    background: #94D2FF;
    padding: 10px;
    margin-bottom: 40px;
  }
}

.container.show{
  background: #C3B6EC;
  padding: 15px;
  height: 100vh;
}

.show-intro {
  width: 325px;
  height: 300px;
  top: 6px;
  left: 50px;
  border: 5px black;
  box-shadow: 15px 0px 10px -10px rgba(0, 0, 0, 0.51);
  padding-top: 8px;
  position: relative;
  flex-shrink: 0;
  border-radius: 20px 0px 0px 0px;
  background: linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), #F8F7FD;
  h1, h2, h3 {
    color: #000;
  }
  .greeting {
    width: fit-content;
    margin: 15px 0px 0px 90px;
    h1 {
      font-size: 28px;
      font-weight: 700;
    }
  }
  .show-info{
    width: 248px;
    margin-left: 90px;
  }
  h2 {
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
  }
  h3 {
    font-size: 16px;
    line-height: 22px;
  }
  .pfp_show {
    img{
      width: 110px;
      height: 110px;
      border-radius: 20px;
    }
  }
}

.container.user-info{
  width: 314px;
  height: 239px;
  position: relative;
  left: -26px;
  top: -61px;
  flex-shrink: 0;
  padding: 20px;
  border: 5px black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), #F8F7FD;
  .h4{
    font-size: 16px;
    font-weight: 700;
    padding-left: 5px;
  }
  .h4-description {
    font-size: 14px;
    padding-left: 5px;
  }
}

.h4-attached{
  margin-top: -20px;
  font-size: 20px;
}

.container-dashboard {
  margin: 10px;

  .dashboard-photo-review {
    display: flex;
    justify-content: space-between;
    .dashboard-photo-left {
      align-items: left;
      .photo {
        width: 150px;
        height: 150px;
        border-radius: 5px;
      }
    }
    .dashboard-review-right {
      text-align: right;
      h2 {
        font-size: 25px;
        font-weight: 600;
      }
      h3 {
        font-size: 20px;
        font-weight: 500;
      }

    }
  }
  .dashboard-greeting {
    width: fit-content;
    h1 {
      font-size: 35px;
      font-weight: 700;
    }
    h2 {
      font-size: 25px;
      font-weight: 600;
    }
  }
  .dashboard-about-me {
    h2 {
      margin-top: 20px;
      font-size: 30px;
      font-weight: 600;
    }
  }

  .dashboard-review {
    h2 {
      margin-top: 20px;
      font-size: 30px;
      font-weight: 600;
    }
  }
  .review-text-btn {
    text-decoration: none !important;
    display: flex;
    justify-content: space-between;
    .review-text {
      width: 300px;
      height: 100px;
      border-radius: 5px;

    }
  }

}
