.container.zipcode {
  width: 311px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #F8F7FD;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.container.role-toggle {
  display: flex;
  width: 327px;
  height: 32px;
  padding: 2px;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  .orange{
    display: flex;
    padding: 8px 37.5px 8px 39px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #D5795D;
  }
  .white{
    display: flex;
    padding: 8px 39.5px 8px 40px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #F8F7FD;
  }
}

.container.navbar {
  width: fit-content;
  height: fit-content;
  flex-shrink: 0;
  position: relative;
}

.container.create-post {
  width: 340px;
  height: 528px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #C3B6EC;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  .form {
    padding-top: 25px;
  }
  h1 {
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  #post_title {
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
  }
  #post_description {
    border-radius: 20px;
    padding: 10px;
    height: 120px;
    margin-top: 15px;
  }
  #post_category {
    border-radius: 20px;
    padding: 10px;
    margin-top: 15px;
  }
  #post_photos {
    border-radius: 20px;
    padding: 10px;
  }
}

.container.role-selection {
  width: 340px;
  height: 528px;
  flex-shrink: 0;
  margin-top: 22px;
  p {
    font-weight: bold;
  }
  span {
    display: block;
    input {
      margin: 0 10px;
    }
  }
  span:nth-child(odd) {
    border-radius: 20px;
    background: #D2C4FF;
    padding: 10px;
    margin-bottom: 10px;
  }
  span:nth-child(even) {
    border-radius: 20px;
    background: #94D2FF;
    padding: 10px;
    margin-bottom: 40px;
  }
}

.container.show{
  background: #C3B6EC;
  padding: 15px;
}

.show-intro {
  width: 355px;
  height: 300px;
  top: 6px;
  left: 50px;
  border: 5px black;
  box-shadow: 15px 0px 10px -10px rgba(0, 0, 0, 0.51);
  padding-top: 8px;
  position: relative;
  flex-shrink: 0;
  border-radius: 20px;
  background: linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), #F8F7FD;
  h1, h2, h3 {
    color: #000;
    text-align: left;
    font-style: normal;
    margin-left: 50px;
  }
  h1 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
  }
  h2 {
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
    padding-top: 6px;
  }
  h3 {
    font-size: 16px;
    line-height: 22px;
  }
  #pfp_show {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
  }
}

.container.user-info{
  width: 314px;
  height: 239px;
  position: relative;
  left: -26px;
  top: -61px;
  flex-shrink: 0;
  padding-top: 8px;
  border: 5px black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), linear-gradient(0deg, #F8F7FD 0%, #F8F7FD 100%), #F8F7FD;
  .h4{
    font-size: 16px;
    font-weight: 700;
    padding-left: 5px;
  }
  .h4-description {
    font-size: 14px;
    padding-left: 5px;
  }
}

.h4-attached{
  margin-top: -20px;
  font-size: 20px;
}
