.home-title {
  position: relative;
  padding-top: 15px;
  h1 {
    font-weight: bold;
  }
}

.landing-photos {
  width: 340px;
  height: 420px;
}

.photo.one {
  width: 159px;
  height: 148px;
  flex-shrink: 0;
  background-image: asset-url('Garden_Person.jpg');
  background-size: cover;
  border-radius: 10px;
  position: relative;
  top: 5px;
}

.photo.two {
  width: 133px;
  height: 130px;
  flex-shrink: 0;
  background-image: asset-url('Smiling_Woman_Pointing.jpg');
  background-size: cover;
  border-radius: 10px;
  position: relative;
  left: 190px;
  bottom: 50px;
}

.photo.three {
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  background-image: asset-url('Helping_Hand.jpg');
  background-size: cover;
  border-radius: 10px;
  position: relative;
  left: 30px;
  bottom: 75px;
}

.photo.four {
  width: 146px;
  height: 146px;
  flex-shrink: 0;
  background-image: asset-url('Kitchen_Couple.jpg');
  background-size: cover;
  border-radius: 10px;
  position: relative;
  left: 160px;
  bottom: 95px;
}

.img-fluid {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 20px;
  object-fit: fill;
}

.img-flex {
  display: flex;
}
