.landing-photos {
  display: flex;
  width: 390px;
  padding: 111px 36px 84px 36px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 42px;

  .one {
    width: 159px;
    height: 148px;
  }
}
