.mapboxgl-popup {
  width: 370px!important;
}

.mapboxgl-popup-tip {
  border-top-color: #c3b6ec!important;
}

.mapboxgl-popup-content {
  background-color: $purple !important;
  text-align: left !important;
  font-family: "Open Sans", sans-serif !important;
  border-radius: 20px !important;
  padding: 12px!important;
}

.mapboxgl-popup-close-button {
  margin: 10px !important;
  color: black !important;
  font-size: 40px !important;
  font-weight: 400 !important;
}
.info-window-text {
  .popup-text-name {
    font-size: 30px;
    font-weight: 600;
  }

  .Popup-text-description {
    font-size: 20px;
    font-weight: 500;
  }
}
