.mapboxgl-popup {
  width: 370px!important;
}

.mapboxgl-popup-tip {
  border-top-color: #c3b6ec!important;
}

.mapboxgl-popup-content {
  background-color: $purple !important;
  text-align: left !important;
  font-family: "Open Sans", sans-serif !important;
  border-radius: 20px !important;
  padding: 12px!important;
}

.mapboxgl-popup-close-button {
  color: white !important;
  font-size: 40px !important;
  font-weight: bold !important;
}

.popup-text-name {

}

.popup-text-description {
  
}
