#zipcode-placeholder {
  color: #9B9292;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  margin-right: 55px;
  input, input:focus, input:active, input:visited, input:hover {
    background: transparent !important;
    border: 0 !important;
    outline: none !important;

  }
}

#asker-placeholder {
  color: #F8F7FD;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  margin-bottom: 0;
}

#helper-placeholder {
  color: #05030C;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  margin-bottom: 0;
}
